{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} -- Meta --- {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} -- Title -- {% endcomment %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>Student Mental Health & Academic Pressure Analytics Platform</title>

    {% comment %} ----------Monteserrat font--------- {% endcomment %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    {% comment %} -------------material icons-------  {% endcomment %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    {% comment %} ----------------------css-------------- {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <div class="grid-container">   
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div> 
            <div id="header-right">
                <div class="notification-container">
                    <span class="material-icons-outlined" onclick="toggleNotification()">notifications</span>
                    <div id="notificationBox" class="notification-box">
                        <h4>Notifications</h4>
                        {% if notifications %}
                            {% for n in notifications %}
                                <p>{{ n.message }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No new notifications</p>
                        {% endif %}
                    </div>
                </div>
                <span id="themeIcon" class="material-icons-outlined" onclick="toggleTheme()">dark_mode</span>
                <div class="profile-container">
                    <span class="material-icons-outlined" onclick="toggleProfile()">account_circle</span>
                    <div id="profileDropdown" class="profile-dropdown">
                        <p><a href="{% url 'profile' %}">Profile</a></p>
                        <p><a href="{% url 'settings' %}">Settings</a></p>
                        <hr>
                        <p><a href="{% url 'login' %}">Logout</a></p>
                    </div>
                </div>
            </div>       
        </header>

        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">school</span> StudentMe
                </div>
                <span class="material-icons-outlined">close</span>
            </div>

            <ul class="sidebar-list">
                <li  class="sidebar-list-item">
                    <a href="{% url 'dashboard' %}"><span class="material-icons-outlined">dashboard</span>Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'check-in' %}"><span class="material-icons-outlined">checklist</span>Daily Check-in</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'assignment-pressure' %}"><span class="material-icons-outlined">assignment</span>Assignment Pressure</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'focus-analytics' %}"><span class="material-icons-outlined">query_stats</span>Focus Analytics</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'wellness-report' %}"><span class="material-icons-outlined">self_improvement</span>Wellness Report</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'smart-suggestions' %}"><span class="material-icons-outlined">lightbulb</span>Smart Suggestions</a>
                </li>
            

            </ul>

        </aside>
    

        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">DASHBOARD</p>
            </div>

            <div class="main-cards">
                <div class="card">
                    <div class="card-inner">
                        <p   class="text-primary">Wellness Score</p>
                        <span class="material-icons-outlined" >self_improvement</span>
                    </div>
                    <span class="text-blue font-weight-bold ">{{wellness_score}}%</span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p   class="text-primary">Assignments</p>
                        <span class="material-icons-outlined">assignment</span>
                    </div>
                    <span class="text-orange font-weight-bold">{{total_assignments}}</span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p   class="text-primary">Study Hours</p>
                        <span class="material-icons-outlined">access_time_filled</span>
                    </div>
                    <span class="text-green font-weight-bold">{{study_hours}}</span>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <p   class="text-primary">Burnout Risk</p>
                        <span class="material-icons-outlined">whatshot</span>
                    </div>
                    <span class="text-red font-weight-bold">{{burnout}}</span>
                </div>
            
            </div>

            <div class="charts">
                <div class="charts-card">
                    <p class="chart-title"><b> Weekly Wellness Trend</b></p>
                    <div id="area-chart"data-labels="{{ context.labels }}"data-values="{{ context.wellness_scores }}"></div>
                </div>

                <div class="charts-card">
                    <p class="chart-title"><b>Academic Pressure</b></p>
                    <div id="donut-chart" data-pressure="{{ pressure_score }}"></div>
                    <p  id="donut-chart-text"> {{pressure_label}}</p>
                    
                </div>
            </div>
        </main>
    </div>
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/5.3.5/apexcharts.min.js" ></script>
    <script src="{% static 'javascript/dashboard.js' %}"></script>

</body>
</html>