{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} -- Meta --- {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} -- Title -- {% endcomment %}

    <title>Focus A nalytics</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% comment %} ----------Monteserrat font--------- {% endcomment %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    {% comment %} -------------material icons-------  {% endcomment %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    {% comment %} ----------------------css-------------- {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/focus-analytics.css' %}">
</head>

<body>

    <div class="grid-container">
    
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div> 

            <div id="header-right">
                <div class="notification-container">
                    <span class="material-icons-outlined" onclick="toggleNotification()">notifications</span>
                    <div id="notificationBox" class="notification-box">
                        <h4>Notifications</h4>
                        <p>No new notifications</p>
                    </div>
                </div>
                <span id="themeIcon" class="material-icons-outlined" onclick="toggleTheme()">dark_mode</span>
                <div class="profile-container">
                    <span class="material-icons-outlined" onclick="toggleProfile()">account_circle</span>
                    <div id="profileDropdown" class="profile-dropdown">
                        <p><a href="{% url 'profile' %}">Profile</a></p>
                        <p><a href="{% url 'settings' %}">Settings</a></p>
                        <hr>
                        <p><a href="{% url 'login' %}">Logout</a></p>
                    </div>
                </div>
            </div>
        
        </header>

        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">school</span> StudentMe
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li  class="sidebar-list-item">
                    <a href="{% url 'dashboard' %}"><span class="material-icons-outlined">dashboard</span>Dashboard</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'check-in' %}"><span class="material-icons-outlined">checklist</span>Daily Check-in</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'assignment-pressure' %}"><span class="material-icons-outlined">assignment</span>Assignment Pressure</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'focus-analytics' %}"><span class="material-icons-outlined">query_stats</span>Focus Analytics</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'wellness-report' %}"><span class="material-icons-outlined">self_improvement</span>Wellness Report</a>
                </li>
                <li class="sidebar-list-item">
                    <a href="{% url 'smart-suggestions' %}"><span class="material-icons-outlined">lightbulb</span>Smart Suggestions</a>
                </li>
            

            </ul>

        </aside>
    
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">Focus Analytics</p>
                <button class="distraction-btn" onclick="openModal()">😵 How distracted are you today?</button>
            </div>
            <section class="main-content"> 
                <div class="sub-content" id="bar-graph">                       
                </div>                
                <div class="sub-content" id="pie-chart">
                </div>
                <div class="sub-content" id="timer"> 
                    <p>Focus Timer</p>
                    <div id="display">00.00.00
                    </div>
                    <div id="controls">
                        <button class="timerbtn" id="startBtn">Start</button>
                        <button class="timerbtn" id="stopBtn">Stop</button>
                        <button class="timerbtn" id="resetBtn">Reset</button>
                    </div>    
                    <form method="POST" action="{% url 'focus-analytics' %}" id="focusForm">
                        {% csrf_token %}
                        <input type="hidden" name="duration" id="durationInput">
                    </form>   
                </div>
                <div class="sub-content" id="insights">
                    <p>Insights</p>
                    <div class="insight">
                        <span class="text">🏆 Consistency Score</span>
                        <span class="sub-text">{{ consistency_score }}/100</span>
                    </div>
                    <hr>

                    <div class="insight">
                        <span class="text">🧠 Deep Work</span>
                        <span class="sub-text">{{ deep_work_hours }} hrs</span>
                    </div>
                    <hr>

                    <div class="insight">
                        <span class="text">⏰ Best Time</span>
                        <span class="sub-text">{{ best_time }}</span>
                    </div>
                    <hr>
                </div>                  
            </section>

        </main>
    </div>
    <!-- MODAL -->
    <div id="modal" class="modal">
        <div class="modal-card">
            <div class="modal-header">
                <h3>😵 Distraction Tracker</h3>
                <span class="close-btn" onclick="closeModal()">✖</span>
            </div>
            <form method="POST" action="{% url 'focus-analytics' %}">
                {% csrf_token %}
                <label>📱 Phone Usage</label>
                <div class="slider-box">
                    <input type="range" name="phone" min="0" max="180" value="60" oninput="updateValue(this, 'phoneVal')">
                    <span id="phoneVal">60 min</span>
                </div>
                <label>🌐 Social Media</label>
                <div class="slider-box">
                    <input type="range" name="social" min="0" max="180" value="90" oninput="updateValue(this, 'socialVal')">
                    <span id="socialVal">90 min</span>
                </div>
                <label>🌿 Daydreaming</label>
                    <div class="slider-box">
                        <input type="range" name="daydreaming" min="0" max="180" value="30" oninput="updateValue(this, 'dayVal')">
                        <span id="dayVal">30 min</span>
                    </div>               
                <label>🧠 Other</label>
                <div class="slider-box">
                    <input type="range" name="other" min="0" max="180" value="30" oninput="updateValue(this, 'otherVal')">
                    <span id="otherVal">30 min</span>
                </div>
                <button type="submit" class="save-btn">Save</button>
            </form>
        </div>
    </div>
    <script>var weeklyData = {{ week_data|safe }};
            var weekLabels = {{ week_labels|safe }};
    </script>
    <script>var pieData = {{ pie_data|safe }};</script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'javascript/focus-analytics.js' %}"></script>

</body>
</html>