{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="auth-box">
        <h2>Password Reset Successful 🎉</h2>
        <a href="/login/">Go to Login</a>
    </div>
</body>
</html>