/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.auth-box {
    background: #2b2b3c;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

/* Heading */
.auth-box h2 {
    margin-bottom: 20px;
}

/* Input */
.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
}

/* Button */
.auth-box button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-box button:hover {
    opacity: 0.9;
}

/* Link */
.auth-box a {
    color: #4fc3f7;
    text-decoration: none;
}
.error-box {
    background: rgba(255, 0, 0, 0.1);
    border-left: 4px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: left;
}

.error-box p {
    margin: 5px 0;
    color: #ff4d4d;
    font-size: 14px;
}
.password-field {
    position: relative;
    margin-bottom: 15px;
}

.password-field input {
    width: 100%;
    padding-right: 8px;
}

.toggle-eye {
    position: absolute;
    right: 12px;
    top: 62%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: hsl(0, 0%, 20%);
}
.toggle-eye:hover {
    color: white;
}