:root {
  --bg-color: #e6ebed;
  --card-color: #ffffff;
  --text-color: #666666;
  --heading-color: #000000;
  --border-color: #d2d2d3;
  
}
.dark-mode {
  --bg-color: #1e293b;
  --card-color: #334155;
  --text-color: #e2e8f0;
  --heading-color: #ffffff;
  --border-color: #475569;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat",sans-serif;

}

.material-icons-outlined{
    vertical-align:middle;
    line-height: 1px;
    font-size: 20px;
    cursor: pointer;
    color: var(--heading-color);
}
.material-icons-outlined:hover{
    color: var(--border-color);
}
.font-weight-bold{
    font-weight: 600;
}
.menu-icon{   
    color: rgb(99, 102, 241) ;
    /* background-color: whitesmoke; */
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.menu-icon:hover{
    background-color: var(--text-color);
}
.grid-container{
    display:grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas: 
        "sidebar header "
        "sidebar main";
    height: 100vh;
    transition: all 0.2s ease-in-out;
}
.grid-full {
    grid-template-columns: 0px 1fr  !important;  
}
#header-right {
  display: flex;
  align-items: center;  
  gap: 10px;             
}
.header{
    grid-area: header;
    height: 35px;
    background-color:var(--card-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: var(--card-color);
    color: var(--heading-color);
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    /* -webkit-transition: all 0.5s; */
}
a{
    text-decoration: none;   
    color: inherit;         
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}
.sidebar-list{
    margin-top: 20px;
    padding:0;
    list-style-type: none;   
}
.sidebar-list-item{
    padding: 10px 10px 10px 10px;
    font-size: 8px;
    font-weight: 500;
    color: var(--text-color);
    transition-duration: 0.5s;
    transition-property: all;
    margin: 5px;
    border-radius: 10px;   
}
.sidebar-list-item:hover{
    background-color: var(--bg-color);
    cursor: pointer;
    color: rgb(99, 102, 241) ;
    transform: translateX(5px);
}
.sidebar-hidden{
    width: 0;
    overflow: hidden;
}
.sidebar-brand{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 900;
    color: rgb(99, 102, 241);
}
.notification-container{
    position: relative;
}
.notification-box {
  position: absolute;
  top: 35px;
  width:120px;
  right: 0;
  background: var(--card-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;  
  pointer-events: none;
}
.notification-box>h4{
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}
.notification-box>h4:hover {
  color: black;
}
.notification-box>p{
    margin-bottom: 5px;
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.notification-box>p:hover {
  color: black;
}
.notification-box.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.profile-container {
  position: relative;
}
.profile-dropdown {
  position: absolute;
  top: 30px;     
  right: 0;       
  width: 120px;
  background: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 10px 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}
.profile-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.profile-dropdown p {
  margin: 0;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  color: var(--heading-color);
}
.profile-dropdown p:hover {
  background: var(--bg-color);
}
.main-container{  
    grid-area: main;
    overflow-y: auto;
    padding: 10px ;
}

.main-title{
    color: var(--heading-color);
    margin: 10px;
    
}
.main-title>p{
    color: var(--heading-color);
}

.main-content-container{
    height: 480px;
    /* width: 350px; */
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    margin: 0px 25%;
    border-radius: 15px;
}

.main-content-container>p{
    font-size: 12px;
    color: var(--heading-color);
}

.mood-container {
    width: 300px;
    text-align: center;
}

#emoji {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Slider */
#moodSlider {
    width: 78%;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin: 0px 10%;
    cursor: pointer;
}

/* Thumb (blue dot) */
#moodSlider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    cursor: pointer;
}

/* Labels */
.labels {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 500;
    color: black;
}

.labels>span{
    color: var(--heading-color);
}

.main-content-container>input{
    width: 80%;
    border-radius: 10px;
}

.label {
    display: block;
    margin: 15px 0 6px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    margin: 25px 0px 10px 20px;
    color: var(--heading-color);
}

::placeholder{
    color: black;
}

/* Input box */
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #f9f9f9;
    width: 90%;
    margin: 0px 16px;
    height: 7%;
}

/* Icon */
.input-group span {
    padding: 10px;
    background: #f1f1f1;
    border-right: 1px solid #ddd;
    color: black;
}

/* Input */
.input-group input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    background: transparent;
}

.dropdown {
    width: 100%;
    height: 40px;
    padding: 2px 12px;
    border-radius: 11px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    font-size: 14px;
    line-height: normal;
    outline: none;
    cursor: pointer;
    font-weight: normal;
}

/* Focus effect */
.dropdown:focus {
    border-color: #7A5CD6;
    box-shadow: 0 0 0 2px rgba(122, 92, 214, 0.2);
}

#workload{
    height: 8%;
    width: 90%;
    margin: 0px 14px;
}

.wellness-box {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 8%;
    background-color: #dbeafe; /* light blue */
    padding: 0px 12px;
    border-radius: 10px;
    width: 83%;
    margin: 12px 0px 0px 14px;
    color: #1e3a8a; /* dark blue text */
    font-size: 12px;
}

/* Icon */
.wellness-box span {
    font-size: 18px;
}

/* Bold text */
.wellness-box strong {
    font-weight: 600;
}

button{
    height: 6%;
    width: 90%;
    background-color: #1e3a8a;
    margin: 10px ;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

/* ================= RESPONSIVE DESIGN ================= */

/* Tablet (992px se niche) */
@media (max-width: 992px) {
  
  
  .main-content-container {
    width: 90%;
    margin: 20px auto;
  }
}

/* Mobile (768px se niche) */
@media (max-width: 768px) {
    .sidebar-hidden{
    width: 0;
    overflow: hidden;
    }
    .grid-container{
        grid-template-columns: 0px 1fr;
    }

  .main-content-container {
    width: 95%;
    height: auto;
    padding: 10px;
  }

}

/* Small Mobile (480px se niche) */
@media (max-width: 480px) {
    .main-container{
        width: 70%;
        margin: auto;
        
    }
  .main-title {
    font-size: 14px;
    
  }

  .main-content-container p {
    font-size: 10px;
  }

  .label {
    font-size: 10px;
  }

  #emoji {
    font-size: 20px;
  }
}