:root {
  --bg-color: #e6ebed;
  --card-color: #ffffff;
  --text-color: #666666;
  --heading-color: #000000;
  --border-color: #d2d2d3;
  
}
.dark-mode {
  --bg-color: #1e293b;
  --card-color: #334155;
  --text-color: #e2e8f0;
  --heading-color: #ffffff;
  --border-color: #475569;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Montserrat",sans-serif;
}

.material-icons-outlined{
    vertical-align:middle;
    line-height: 1px;
    font-size: 20px;
    cursor: pointer;
    color: var(--heading-color);
}
.material-icons-outlined:hover{
    color: var(--border-color);
}
.menu-icon{
    
    color: rgb(99, 102, 241) ;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
}
.menu-icon:hover{
    background-color: var(--text-color);
}

.font-weight-bold{
    font-weight: 600;
}

.grid-container{
    display:grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas: 
        "sidebar header "
        "sidebar main";
    height: 100vh;
    transition: all 0.2s ease-in-out;
}
.grid-full {
    grid-template-columns: 0px 1fr  !important;  
}

.header{
    grid-area: header;
    height: 35px;
    background-color: var(--card-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#header-right {
  display: flex;
  align-items: center;  
  gap: 10px;             
}


.notification-container{
    position: relative;
}

.notification-box {
  position: absolute;
  top: 35px;
  width:120px;
  right: 0;
  background: var(--card-color);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;  /* 🔥 smooth */
  pointer-events: none;
}

.notification-box>h4{
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}
.notification-box>h4:hover {
  color: black;
}
.notification-box>p{
    margin-bottom: 5px;
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.notification-box>p:hover {
  color: black;
}

.notification-box.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-container {
  position: relative;
}
.profile-dropdown {
  position: absolute;
  top: 30px;     
  right: 0;       

  width: 120px;
  background: var(--card-color);
  border-radius: 10px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);

  padding: 10px 0;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all 0.3s ease;
}
.profile-dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.profile-dropdown p {
  margin: 0;
  padding: 10px 15px;
  font-size: 10px;
  cursor: pointer;
  color: var(--heading-color);
}

.profile-dropdown p:hover {
  background: var(--bg-color);
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: var(--card-color);
    color: var(--heading-color);
    overflow-y: auto;
    transition: all 0.5s;
    /* -webkit-transition: all 0.5s; */
}

a{
    text-decoration: none;   
    color: inherit;         
}

.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    
}

.sidebar-title > span{
    display: none;
}

.sidebar-list{
    margin-top: 20px;
    padding:0;
    list-style-type: none;
    
}

.sidebar-list-item{
    padding: 10px 10px 10px 10px;
    font-size: 8px;
    font-weight: 500;
    color: var(--text-color);
    transition-duration: 0.5s;
    transition-property: all;
    margin: 5px;
    border-radius: 10px;

    
}

.sidebar-list-item:hover{
    background-color: var(--bg-color);
    cursor: pointer;
    color: rgb(99, 102, 241) ;
    transform: translateX(5px);
}

.sidebar-hidden{
    width: 0;
    overflow: hidden;
}

.sidebar-brand{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 900;
    color: rgb(99, 102, 241);

}

.main-container{
    
    grid-area: main;
    overflow-y: auto;
    padding: 10px ;
}

.main-title{
    color: black;
    margin: 10px;
    
}
.main-title>p{
    font-size: 15px;
    font-weight: bold;
    color: var(--heading-color);
    
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
    "card1 card2 card3";
}

.card{
    height: 180px;
    background-color: var(--card-color);
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: linear;
    margin: 5px 5px;    
    display: flex;
    flex-direction: column;
    gap: 10px;


}
.card:hover{
    transform: translateY(-5px);
}
.card>p{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    color: var(--heading-color);
    border-radius: 8px;
    padding: 5px 8px;
    
   
    
}
.text{
    font-size: 10px;
    color: var(--heading-color);
    font-weight: normal;
    
}

.heading{
    font-size: 12px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: -5px;
}

#card-1{
    grid-area: card1;


}
#card-1>p{
    background: hsl(240, 100%, 60%);
    
}
#card-2>p{
    background:skyblue;
    
}
#card-3>p{
    background: teal;
    font-size: 10px;
    
    
}
#card-2{grid-area: card2;}
#card-3{grid-area: card3;}

#btn1{
    /* color: hsl(240, 100%, 60%); */
    border: 1px solid hsl(240, 100%, 60%);
    padding: 5px 0px;
    border-radius: 8px;
    background-color: var(--card-color);
    color: var(--heading-color);
    cursor: pointer;

}
#btn1:hover{
    background-color: var(--bg-color);
    color: var(--heading-color);
}
#btn2{
    /* color: skyblue; */
    border: 1px solid skyblue;
    padding: 5px 0px;
    border-radius: 8px;
    background-color: var(--card-color);
    color: var(--heading-color);
    cursor: pointer;

}
#btn2:hover{
    background-color: var(--bg-color);
    color: var(--heading-color);
}
#btn3{
    /* color: teal; */
    border: 1px solid teal;
    padding: 5px 0px;
    border-radius: 8px;
    background-color: var(--card-color);
    color: var(--heading-color);
    cursor: pointer;

}
#btn3:hover{
    background-color: var(--bg-color);
    color: var(--heading-color);
}

@media (min-width:320px){
  .grid-container{
    grid-template-columns: 180px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
  }
  .main-content{
    grid-template-columns: 1fr ;
    gap: 10px;
    grid-template-areas: 
    "card1"
    "card2"
    "card3";
  }
  .card{
    height: 150px;
  }
  .material-icons-outlined{
    font-size: 20px;
  }
  .sidebar-list{
    margin-top: 10px;
  }
  .sidebar-list-item{
    padding: 8px 8px 8px 8px;
    font-size: 12px;  
  }
  .sidebar-brand{
    font-size: 18px;
  }
  .sidebar-brand span{
    font-size: 22px;
    margin-left: 12px;
  }
  .card button{
    font-weight: bold;
  }
}
@media (min-width:768px){
  .grid-container{
    grid-template-columns: 200px 1fr;
    grid-template-rows: 45px 1fr;
  }
  .material-icons-outlined{
    font-size: 22px;
  }  
  .sidebar-list{
    margin-top: 10px;
  }
  .sidebar-list-item{
    padding: 8px 8px 8px 8px;
    font-size: 13px;  
  }
  .sidebar-brand{
    font-size: 20px;
  }
  .sidebar-brand span{
    font-size: 24px;
    margin-left: 12px;
  }
  .card{
    height: 180px;
    padding-top: 15px;
  }
  .card button{
    margin-top: 10px;
  }
  .card p{
    font-size: 14px;
  }
  .heading{
    font-size: 14px;
  }
  .text{
    font-size: 14px;
  }
}
@media (min-width:992px){
  .main-content{
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    grid-template-areas: 
    "card1 card2 card3";
  }
  .grid-container{
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
  }
  .header{
    height:50px;
  }
  .card{
    height: 200px;
    padding-top: 15px;
  }
  .card p{
    font-size: 12px;
  }
  .heading{
    font-size: 14px;
  }
  .text{
    font-size: 12px;
  }
  #btn1,#btn2{
    margin-top: 20px;
    padding: 10px;
  }
  #btn3{
    margin-top: 10px;
    padding: 9px;
  }
  .main-title p{
    font-size: 20px;
  }

}
@media (min-width:1200px){
  .grid-container{
    grid-template-columns: 280px 1fr;
    grid-template-rows: 45px 1fr;
  }
  .material-icons-outlined{
    font-size: 24px;
  }  
  .sidebar-list{
    margin-top: 30px;
  }
  .sidebar-list-item{
    padding: 8px 8px 8px 8px;
    font-size: 18px;    
  }   
  .sidebar-brand{
    font-size: 
    25px;
  }
  .sidebar-brand span{
    font-size: 30px;
    margin-left: 12px;
  }
  .card{
    height: 250px;
  }
  .card p{
    font-size: 18px;
  }
  .heading{
    font-size: 18px;
  }
  .text{
    font-size: 14px;
  }
  .card button{
    font-size: 15px;
  }
  #card-3 p{
    font-size: 18px;
  }
  #btn3{
    margin-top: 8px;
    padding: 9px;
  }
  .main-title p{
    font-size: 25px;
  }
}
